<mat-sidenav-container class="example-container">

  <!-- Sidebar -->
  <mat-sidenav #sidenav role="navigation" class="sidenav" position="end">
    <div class="sidenav-main">
      <div class="sidenav-main_header">
          <mat-icon class="sidenav-main_close" (click)="sidenav.close()">arrow_forward</mat-icon>
      </div>
      <div class="sidenav-main_block">
        @for (link of links; track link) {
          <mat-icon (click)="sidenav.close()">{{link.icon}}</mat-icon>
          <a class="sidenav-main_link" routerLink="{{link.link}}" (click)="sidenav.close()">{{ link.title | translate }}</a><br><br>
        }
      </div>
    </div>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <app-header (onChangeLoc)="onChangeLoc($event)" (menuOpen)="sidenav.toggle($event)" [loc]="location"></app-header>
      <router-outlet />
    <app-footer (onChangeLoc)="onChangeLoc($event)" [loc]="location"></app-footer>
  </mat-sidenav-content>

</mat-sidenav-container>


